strimzi_version: 0.47.0

kafka_version: 4.0.0
kafka_replicas: 3
kafka_namespace: manetu-kafka
kafka_storage_class: "{{ default_storage_class | default('default') }}"
kafka_storage_size: 10Gi
kafka_config:
  offsets.topic.replication.factor: 3
  transaction.state.log.replication.factor: 3
  transaction.state.log.min.isr: 2
  default.replication.factor: 3
  min.insync.replicas: 2
kafka_resources: {}
#  requests:
#    memory: 64Gi
#    cpu: "8"
#  limits:
#    memory: 64Gi
#    cpu: "12"

kafka_affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
    - weight: 100
      podAffinityTerm:
        labelSelector:
          matchLabels:
            app.kubernetes.io/managed-by: strimzi-cluster-operator
            app.kubernetes.io/instance: kafka
            app.kubernetes.io/name: kafka
            app.kubernetes.io/part-of: strimzi-kafka
        topologyKey: kubernetes.io/hostname

kafka_topology_spread_constraints:
  - maxSkew: 1
    topologyKey: topology.kubernetes.io/zone
    whenUnsatisfiable: ScheduleAnyway
    labelSelector:
      matchLabels:
        app.kubernetes.io/managed-by: strimzi-cluster-operator
        app.kubernetes.io/instance: kafka
        app.kubernetes.io/name: kafka
        app.kubernetes.io/part-of: strimzi-kafka

kafka_nodeSelector: "{{ default_nodeSelector | default({}) }}"
kafka_tolerations: "{{ default_tolerations | default([]) }}"
  # - key: dedicated
  #   operator: Equal
  #   value: experimental
  #   effect: NoSchedule

prometheus_monitor_labels: {}
kafka_monitor_labels:
  app: strimzi

kafka_metrics_config:
  type: jmxPrometheusExporter
  valueFrom:
    configMapKeyRef:
      name: kafka-metrics
      key: kafka-metrics-config.yml

zookeeper_metrics_config:
  type: jmxPrometheusExporter
  valueFrom:
    configMapKeyRef:
      name: kafka-metrics
      key: zookeeper-metrics-config.yml

storage_enabled: true
monitoring_enabled: false
alerts_enabled: false
