chaos_enabled: off
chaos_mesh_version: 2.6.2
chaos_mesh_dns: chaos-mesh.{{ mgmt_dns_suffix }}
pod_kill_schedule: '1 * * * *' 
pod_kill_pause: 'true' # If set to true, test will be injected in paused state, if false, test will be injected in running state
pod_kill_amount: '1'
