jaeger_version: 4.3.0
jaeger_dns: jaeger.{{ mgmt_dns_suffix }}

prometheus_monitor_labels: {}
monitoring_enabled: false
tracing_enabled: false

mgmt_ingress_class_name: traefik
mgmt_ingress_annotations:
  traefik.ingress.kubernetes.io/router.entrypoints: websecure
  traefik.ingress.kubernetes.io/router.tls: "true"
  traefik.ingress.kubernetes.io/router.middlewares: traefik-system-basic-auth@kubernetescrd
