- name: Add Istio chart repo
  kubernetes.core.helm_repository:
    name: istio
    repo_url: "https://istio-release.storage.googleapis.com/charts"

- name: Create Istio Namespace with permissions for accessing Manetu
  kubernetes.core.k8s:
    state: present
    namespace: istio-system
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: istio-system
        labels:
          access.manetu.io/manetu: "true"

- name: Install Istio (Base)
  kubernetes.core.helm:
    name: istio-base
    chart_ref: istio/base
    chart_version: "{{ istio_version }}"
    release_namespace: istio-system
    wait: true

- name: Install Istiod
  kubernetes.core.helm:
    name: istiod
    chart_ref: istio/istiod
    chart_version: "{{ istio_version }}"
    release_namespace: istio-system
    values:
      meshConfig:
        enablePrometheusMerge: true
        enableTracing: true
        defaultConfig:
          tracing:
            sampling: "{{ istio_tracing_sampling }}"
      global:
        proxy:
          resources: "{{ istio_proxy_resources }}"
    wait: true

- name: Register IngressClass
  kubernetes.core.k8s:
    state: present
    namespace: istio-system
    definition:
      apiVersion: networking.k8s.io/v1
      kind: IngressClass
      metadata:
        name: istio
      spec:
        controller: istio.io/ingress-controller

- name: Install Istio Ingress Gateway
  when: istio_ingress_enabled
  kubernetes.core.helm:
    name: istio-ingressgateway
    chart_ref: istio/gateway
    chart_version: "{{ istio_version }}"
    release_namespace: istio-system
    values:
      service:
        annotations: "{{ istio_gateway_annotations }}"
        type: "{{ istio_gateway_service_type }}"
    wait: true

- name: Create Istio ServiceMonitor for istio-ingressgateway
  when: monitoring_enabled and istio_ingress_enabled
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: monitoring.coreos.com/v1
      kind: ServiceMonitor
      metadata:
        name: istio-ingressgateway
        namespace: istio-system
        labels: "{{ prometheus_monitor_labels }}"
      spec:
        selector:
          matchLabels:
            istio: ingressgateway
        namespaceSelector:
          matchNames:
            - istio-system
        endpoints:
        - targetPort: http-envoy-prom
          path: /stats/prometheus

- name: Create Istio ServiceMonitor for istio-system
  when: monitoring_enabled
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: monitoring.coreos.com/v1
      kind: ServiceMonitor
      metadata:
        name: istiod
        namespace: istio-system
        labels: "{{ prometheus_monitor_labels }}"
      spec:
        selector:
          matchLabels:
            istio: pilot
        namespaceSelector:
          matchNames:
            - istio-system
        endpoints:
        - port: http-monitoring
          interval: 15s

- name: Create Istio PodMonitor for envoy-stats
  when: monitoring_enabled
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: monitoring.coreos.com/v1
      kind: PodMonitor
      metadata:
        name: envoy-stats-monitor
        namespace: istio-system
        labels: "{{ prometheus_monitor_labels }}"
      spec:
        selector:
          matchExpressions:
          - {key: istio-prometheus-ignore, operator: DoesNotExist}
        namespaceSelector:
          any: true
        jobLabel: envoy-stats
        podMetricsEndpoints:
        - path: /stats/prometheus
          interval: 15s
          relabelings:
          - action: keep
            sourceLabels: [__meta_kubernetes_pod_container_name]
            regex: "istio-proxy"
          - action: keep
            sourceLabels: [__meta_kubernetes_pod_annotationpresent_prometheus_io_scrape]
          - action: replace
            regex: (\d+);(([A-Fa-f0-9]{1,4}::?){1,7}[A-Fa-f0-9]{1,4})
            replacement: '[$2]:$1'
            sourceLabels:
            - __meta_kubernetes_pod_annotation_prometheus_io_port
            - __meta_kubernetes_pod_ip
            targetLabel: __address__
          - action: replace
            regex: (\d+);((([0-9]+?)(\.|$)){4})
            replacement: $2:$1
            sourceLabels:
            - __meta_kubernetes_pod_annotation_prometheus_io_port
            - __meta_kubernetes_pod_ip
            targetLabel: __address__
          - action: labeldrop
            regex: "__meta_kubernetes_pod_label_(.+)"
          - sourceLabels: [__meta_kubernetes_namespace]
            action: replace
            targetLabel: namespace
          - sourceLabels: [__meta_kubernetes_pod_name]
            action: replace
            targetLabel: pod_name

- name: Create Istio ServiceMonitor for dataplane
  when: monitoring_enabled
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: monitoring.coreos.com/v1
      kind: ServiceMonitor
      metadata:
        name: prometheus-oper-istio-dataplane
        namespace: istio-system
        labels: "{{ prometheus_monitor_labels }}"
      spec:
        selector:
          matchExpressions:
            - {key: istio-prometheus-ignore, operator: DoesNotExist}
        namespaceSelector:
          any: true
        jobLabel: envoy-stats
        endpoints:
        - path: /stats/prometheus
          targetPort: http-envoy-prom
          interval: 15s
          relabelings:
          - sourceLabels: [__meta_kubernetes_pod_container_port_name]
            action: keep
            regex: '.*-envoy-prom'
          - action: labelmap
            regex: "__meta_kubernetes_pod_label_(.+)"
          - sourceLabels: [__meta_kubernetes_namespace]
            action: replace
            targetLabel: namespace
          - sourceLabels: [__meta_kubernetes_pod_name]
            action: replace
            targetLabel: pod_name

- name: Create Istio ServiceMonitor for controlplane
  when: monitoring_enabled
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: monitoring.coreos.com/v1
      kind: ServiceMonitor
      metadata:
        name: prometheus-oper-istio-controlplane
        namespace: istio-system
        labels: "{{ prometheus_monitor_labels }}"
      spec:
        jobLabel: istio
        selector:
          matchExpressions:
            - {key: istio, operator: In, values: [mixer,pilot,galley,citadel,sidecar-injector]}
        namespaceSelector:
          any: true
        endpoints:
        - port: http-monitoring
          interval: 15s
        - port: http-policy-monitoring
          interval: 15s
