k3s_version: v1.29.3+k3s1
k3s_cluster_cidr: 10.42.0.0/16
k3s_cluster_iface:
k3s_cluster_enabled: true
k3s_role: server    # server or agent
k3s_primary: true   # if role = server, indicates primary or secondary
servicelb_enabled: "{{ ( lb_type | default('unknown')) == 'servicelb' }}"
local_storage_enabled: false
k3s_external_ip:
