- name: Create ~/.kube
  file:
    path: ~/.kube
    state: directory
    mode: '0755'

- name: Copy KUBECONFIG
  shell: |
    sudo kubectl config view --raw > ~/.kube/config
    chmod 600  ~/.kube/config

- name: Install PIP
  become: true
  apt:
    pkg:
      - python3-pip

- name: Install kubernetes client
  pip:
    name: kubernetes

- name: Install passlib
  pip:
    name: passlib

- name: Install Helm
  become: yes
  shell: |
    curl -fsSL https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | DESIRED_VERSION="v3.17.4" bash
    chmod a+x /usr/local/bin/helm
