vault_version: 0.28.1
vault_enabled: false
vault_namespace: manetu-hashicorp
vault_replicas: 3
vault_storage_size: 10Gi
vault_storage_class: "{{ default_storage_class | default('default') }}"
vault_key_shares: 1
vault_key_threshold: 1
vault_keys_path: .vault/vault-keys.yml
vault_devmode: false
vault_keys:
  root_token: "test"  # only relevant when devmode=true.  Obtained from vault dynamically when devmode=false
vault_operator_password: "test"
vault_tls_duration: 87600h
vault_tolerations: "{{ default_tolerations | default([]) }}"
# - key: dedicated
#   operator: Equal
#   value: experimental
#   effect: NoSchedule

monitoring_enabled: false
alerts_enabled: false
