minio_enabled: true
minio_version: 5.4.0
minio_namespace: manetu-minio
minio_replicas: 3
minio_mode: distributed
minio_root_user: rootuser
minio_manetu_internal_bucket: "manetu-internal"
minio_persistence_storage_class: "{{ default_storage_class | default('default') }}"
minio_persistence_size: 4Gi
minio_resources:
  requests:
    memory: 1Gi
minio_tolerations: "{{ default_tolerations | default([]) }}"
# - key: dedicated
#   operator: Equal
#   value: experimental
#   effect: NoSchedule

minio_tls_duration: 87600h

prometheus_monitor_labels: {}
monitoring_enabled: false
alerts_enabled: false
