- name: "Set defaults"
  hosts: all
  tasks:
    - set_fact:
        manetu_namespace: "{{ manetu_namespace | default('manetu-platform') }}"
        manetu_dns: "{{ manetu_dns | default('manetu.k8s.orb.local') }}"
        monitoring_enabled: "{{ monitoring_enabled | default(true) }}"
        mgmt_dns_suffix: "{{ mgmt_dns_suffix | default('k8s.orb.local') }}"
        manetu_http_redirect: false
        default_storage_class: local-path
        traefik_enabled: false
        mgmt_ingress_class_name: istio
        mgmt_ingress_annotations:
          kubernetes.io/ingress.class: istio

- name: "Deploy k8s infrastructure"
  hosts: config_host
  roles:
    - python
    - manetu-namespace # needs to be early so components may install configmaps/secrets
    - monitoring
    - cert-manager
    - istio
    - kiali
    - jaeger

- name: "Deploy Third-party"
  import_playbook: deploy-thirdparty.yml

- import_playbook: manetu.yml
