- name: "Set defaults"
  hosts: all
  tasks:
    - set_fact:
        k3s_cluster_enabled: "{{ k3s_cluster_enabled | default(false) }}"
        s3_enabled: "{{ s3_enabled | default(false) }}"
        logging_enabled: "{{ logging_enabled | default(false) }}"
        vault_enabled: "{{ vault_enabled | default(false) }}"
        monitoring_enabled: "{{ monitoring_enabled | default(false) }}"
        tracing_enabled: "{{ tracing_enabled | default(false) }}"
        temporal_dev_mode: "{{ temporal_dev_mode | default(true) }}"
        temporal_tls_enabled: "{{ temporal_tls_enabled | default(false) }}"
        manetu_rollbar_enabled: "{{ manetu_rollbar_enabled | default(false) }}"
        manetu_gateway_tls: "{{ manetu_gateway_tls | default(true) }}"
        lb_type: "{{ lb_type | default('servicelb') }}"
        storage_type: "{{ storage_type | default('local') }}"
        default_storage_class: "{{ default_storage_class | default('local-path') }}"
        manetu_chart_values: "{{ manetu_chart_values | default({'gw': {'resources': {}}, 'cp': {'resources': {}}, 'ep': {'resources': {}}, 'sp': {'resources': {}}}) }}"

- name: "Deploy infrastructure"
  hosts: all
  roles:
    - ubuntu
    - k3s
    - kubectl
    - python
    - manetu-namespace # needs to be early so components may install configmaps/secrets
    - cert-manager
    - istio
    - temporal
    - kafka
    - yugabyte
    - minio
  tasks:
    - name: "Wait for Kafka pods"
      kubernetes.core.k8s_info:
        namespace: "{{ kafka_namespace }}"
        kind: Pod
        field_selectors:
          - status.phase=Running
        name: "{{ 'kafka-kafka-' + item|string }}"
        wait: yes
        wait_sleep: 10
        wait_timeout: 360
      loop: "{{ range(0, kafka_replicas) | list }}"
    - name: "Wait for Yugabyte pods"
      kubernetes.core.k8s_info:
        namespace: "{{ yugabyte_namespace }}"
        kind: Pod
        field_selectors:
          - status.phase=Running
        name: "{{ 'yugabyte-yb-tserver-' + item|string }}"
        wait: yes
        wait_sleep: 10
        wait_timeout: 360
      loop: "{{ range(0, yugabyte_tserver_replicas) | list }}"

- import_playbook: manetu.yml
