- name: Create AWS environment
  gather_facts: false
  hosts: awsctl_host
  roles:
    - python
    - ec2

- name: Wait for SSH to come up
  gather_facts: false
  hosts: k3s_primary
  tasks:
    - wait_for_connection:
        delay: 0
        timeout: 320

# must come after the EC2 resources are created
- name: Set defaults
  hosts: all
  tasks:
    - set_fact:
        manetu_namespace: "{{ manetu_namespace | default('manetu-platform') }}"
        k3s_cluster_enabled: "{{ k3s_cluster_enabled | default(false) }}"
        s3_enabled: "{{ s3_enabled | default(false) }}"
        logging_enabled: "{{ logging_enabled | default(false) }}"
        vault_enabled: "{{ vault_enabled | default(false) }}"
        lb_type: "{{ lb_type | default('servicelb') }}"
        storage_type: "{{ storage_type | default('local') }}"
        default_storage_class: "{{ default_storage_class | default('local-path') }}"
        traefik_enabled: "{{ traefik_enabled | default(false) }}"
        #temporal_dev_mode: true
        #temporal_tls_enabled: false
        manetu_rollbar_enabled: "{{ manetu_rollbar_enabled | default(false) }}"
        manetu_gateway_tls: "{{ manetu_gateway_tls | default(true) }}"
        manetu_chart_values: "{{ manetu_chart_values | default({'gw': {'resources': {}}, 'cp': {'resources': {}}, 'ep': {'resources': {}}, 'sp': {'resources': {}}}) }}"

- name: "Deploy k3s"
  import_playbook: deploy-k3s.yml

- name: "Deploy Third-party"
  import_playbook: deploy-thirdparty.yml

- import_playbook: manetu.yml
