- name: "Set defaults"
  hosts: all
  tasks:
    - set_fact:
        manetu_namespace: "{{ manetu_namespace | default('manetu-platform') }}"
        s3_enabled: "{{ s3_enabled | default(false) }}"
        monitoring_enabled: "{{ monitoring_enabled | default(false) }}"
        alerts_enabled: "{{ alerts_enabled | default(false) }}"
        tracing_enabled: "{{ tracing_enabled | default(false) }}"
        storage_enabled: "{{ storage_enabled | default(false) }}"
        default_storage_class: "{{ default_storage_class | default('local-path') }}"
        vault_devmode: "{{ vault_devmode | default(true) }}"

- name: "Deploy k8s infrastructure"
  hosts: config_host
  roles:
    - python
    - manetu-namespace # needs to be early so components may install configmaps/secrets
    - cert-manager
    - istio

- name: "Deploy Third-party"
  import_playbook: deploy-thirdparty.yml

# Manetu explicitly omitted: Managed by CI pipeline
