- name: Add Jaeger Helm repository
  kubernetes.core.helm_repository:
    name: jaegertracing
    repo_url: "https://jaegertracing.github.io/helm-charts"

- name: Install Jaeger using Helm
  kubernetes.core.helm:
    name: jaeger
    chart_ref: jaegertracing/jaeger
    chart_version: "{{ jaeger_version }}"
    release_namespace: istio-system
    values:
      provisionDataStore:
        cassandra: false
      allInOne:
        enabled: true
        extraEnv:
          - name: QUERY_BASE_PATH
            value: /jaeger
          - name: COLLECTOR_ZIPKIN_HOST_PORT
            value: ":9411"
        podAnnotations:
          prometheus.io/scrape: "true"
          prometheus.io/port: "14269"
        podLabels:
          app: jaeger
          sidecar.istio.io/inject:  "false"
        serviceMonitor:
          enabled: true
        ingress:
          enabled: true
          ingressClassName: "{{ mgmt_ingress_class_name }}"
          annotations: "{{ mgmt_ingress_annotations }}"
          hosts:
            - "{{ jaeger_dns }}"
      storage:
        type: none
      agent:
        enabled: false
      collector:
        enabled: false
      query:
        enabled: false

- name: Create Jaeger Tracing Service
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: tracing
        namespace: istio-system
        labels:
          app: jaeger
      spec:
        type: ClusterIP
        ports:
          - name: http-query
            port: 80
            protocol: TCP
            targetPort: 16686
          - name: grpc-query
            port: 16685
            protocol: TCP
            targetPort: 16685
        selector:
          app: jaeger

- name: Create Jaeger Zipkin Service
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        labels:
          name: zipkin
        name: zipkin
        namespace: istio-system
      spec:
        ports:
          - port: 9411
            targetPort: 9411
            name: http-query
        selector:
          app: jaeger

- name: Create Jaeger Collector Service
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: jaeger-collector
        namespace: istio-system
        labels:
          app: jaeger
      spec:
        type: ClusterIP
        ports:
        - name: jaeger-collector-http
          port: 14268
          targetPort: 14268
          protocol: TCP
        - name: jaeger-collector-grpc
          port: 14250
          targetPort: 14250
          protocol: TCP
        - port: 9411
          targetPort: 9411
          name: http-zipkin
        - port: 4317
          name: grpc-otel
        - port: 4318
          name: http-otel
        selector:
          app: jaeger

- name: Create OTEL secrets for Manetu
  kubernetes.core.k8s:
    state: present
    namespace: "{{ manetu_namespace }}"
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: otel-secrets
      type: Opaque
      stringData:
        OTEL_EXPORTER_OTLP_ENDPOINT: "http://jaeger-collector.istio-system:4317"
        OTEL_SDK_DISABLED: "false"
