ingress:
  enabled: true
  host: {{ longhorn_dns }}
  ingressClassName: "{{ mgmt_ingress_class_name }}"
  annotations: {{ mgmt_ingress_annotations }}

persistence:
  defaultClass: false
defaultSettings:
  defaultDataPath: "{{ longhorn_storage_path }}"
{% if s3_enabled is sameas true -%}
  backupTarget: "{{ 's3://' + s3_bucket + '@' + s3_region + '/backups/longhorn' }}"
  backupTargetCredentialSecret: s3-secrets
{% endif -%}
